body {
    background: linear-gradient(to bottom right, #8e90e2, #ac8fe4, #ac5ce6, #cb97df);
  }
  #container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    margin-left: 60px;
  }
  
  .dog-container {
    width: calc(25% - 20px);
    height: 700px;
    margin: 0 30px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #7ac67a, #aed3aa);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  .dog-container img {
    max-width: 60%;
    max-height: 40%;
    margin-bottom: 20px;
  }
  
  .dog-container h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  .dog-container p {
    font-size: 22px;
  }
  h1 {
    font-size: 68px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #720414, #d4933d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .description p {
    font-size: 21px;
  }
  .working-dog-info {
    font-size: 32px; 
    font-weight: bold;
    font-family: Arial, sans-serif; 
  }
  .name-form {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-input {
    margin-top: 50px;
    text-align: center;
  }
  
  .name-input p {
    font-size: 36px;
    font-weight: bold;
  }
  
  #name-input {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
  }
  
  #name-input:focus {
    outline: none;
    border-color: #666;
  }